html.not-found
{
  body
  {
    top: 10em;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    width: 36em;
  }
  
  h1
  {
    margin-bottom: .25em;
    text-align: center;
  }
  
  h2 { font-size: 1.6em; }
}