{{ content }}

{% if page.caption %}
%p {{ page.caption }}
{% endif %}

%footer
  %p
    Publicerad
    %time{:pubdate => 'pubdate', :datetime => '{{ page.date | date: "%d %b %Y %H:%M:%S UTC" }}'}
      {{ page.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ page.url }}"} permalink