%header
  %h1 {{ page.title }}
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ page.date | date: "%d %b %Y %H:%M:%S UTC" }}'}
      {{ page.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ page.url }}"} permalink

{% if page.slug != nil %}
%blockquote{:cite => "{{ page.url }}"}
  {{ page.slug | textilize }}
{% endif %}

{{ content }}