%header
  %h1 {{ page.title }}
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}'}
      {{ page.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ page.url }}"} permalink

{% if page.slug != nil %}
%blockquote{:cite => "{{ page.url }}", :class => 'slug'}
  {{ page.slug | textilize }}
{% endif %}

{{ content }}