%h1
  %q{:cite => "{{ page.source }}"}
    {{ page.title }}

{{ content }}

%footer
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}'}
      {{ page.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ page.url }}"} permalink