.main > header
{
  font-size: .8em;
  margin-bottom: 2em;
  position: relative;
  
  hgroup
  {
    float: right;
    margin-top: 3em;
    text-align: right;
    
    h1 + h2
    {
      color: #999;
      font-size: .8em;
      margin-top: 0;
      margin-bottom: .2em;
      font-weight: 100;
    }
  }
  
  nav
  {
    bottom: 0;
    font-size: 1.2em;
    left: 0;
    position: absolute;
    
    li
    {
      display: inline-block;
      margin-left: 1.2em;
      
      &:first-child { margin-left: 0 }
    }
  }
}