!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    
    %title {{ page.title }} | {{ site.title }}
  %body
    .header
      %h1 {{ page.title }}
      / Kort introduktion
      / Navigationsmeny
    
    .section.body {{ content }}
    
    .footer
      / Snabblänkar
    