!!!
%html
  %head
    {% include common/head.html %}
  %body
    %a.ribbon{:href => 'http://nordicruby.org/'}
      %img{:src => '/images/ribbon.png', :width => 206, :height => 206}
    
    .main
      {% include common/header.html %}
    
      {{ content }}
      
    {% include common/tracker.html %}