!!!
%html
  %head
    {% include common/head.html %}
  %body
    %a.ribbon{:href => 'http://nordicruby.org/', :alt => 'Attending Nordic Ruby'}
      %img{:src => '/images/ribbon.png', :width => 206, :height => 206}
    
    .main
      {% include common/header.html %}
    
      %section
        %article{:class => "{{ page.layout }}"}
          {% if page.layout == "post" %}
          {% include post/post.html %}
          {% elsif page.layout == "quote" %}
          {% include post/quote.html %}
          {% elsif page.layout == "link" %}
          {% include post/link.html %}
          {% elsif page.layout == "image" %}
          {% include post/image.html %}
          {% endif %}
          
          {% if page.comments %}
          %footer
            %h2 Comments <small>(powered by Disqus)</small>
            #disqus_thread
            :javascript
              var disqus_shortname  = 'burgestrand';
              var disqus_identifier = '{{ page.id }}';
              var disqus_url        = '{{ site.base_uri }}{{ page.url }}';
              var disqus_title      = '{{ page.title | replace:"'","\\'" }}';
            
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          {% endif %}
    
    {% include common/tracker.html %}