---
layout: rss (does not exist)
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ page.title }} {{ site.title }}</title>
    <link>http://burgestrand.se/</link>
    <description>
      Kim Burgestrand and his miscellaneous freaky — but brilliant — ideas
      and thoughts.
    </description>
    <language>sv-se</language>
    <lastBuildDate>{{ site.posts.first.date | date_to_xmlschema }}</lastBuildDate>
    {% for post in site.posts %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ post.url }}</link>
      <description>
        {% if page.slug != nil %}
        {{ post.slug | xml_escape }}
        {% else %}
        {{ post.content | xml_escape }}
        {% endif %}
      </description>
      <pubDate>{{ post.date | date_to_xmlschema }}</pubDate>
      {% for category in post.categories %}
      <category domain="http://burgestrand.se/{{ category }}">{{category}}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>
