%meta{:charset => 'utf-8'}
%link{:href => '/stylesheets/compiled/main.css', :rel => 'stylesheet'}
%link{:href => "http://feeds.feedburner.com/burgestrand", :rel => 'alternate', :type => 'application/rss+xml', :title => 'RSS'}
%title {{ page.title }} {{ site.title }}