%nav
  %ul
    %li
      %a{:href => '/'} Articles
      
    %li
      %a{:href => '/about-me.html'} About Me
      
    %li.rss
      %a{:href => 'http://feeds.feedburner.com/burgestrand', :rel => 'alternate', :type => 'application/rss+xml'}
        %img{:src => 'http://www.feedburner.com/fb/images/pub/feed-icon16x16.png', :alt => 'rss icon'}