{{ post.content }}

{% if post.caption %}
%p {{ post.caption }}
{% endif %}

%footer
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ post.date | date: "%d %b %Y %H:%M:%S UTC" }}'}
      {{ post.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink