{{ post.content }}

{% if post.caption %}
%p {{ post.caption }}
{% endif %}

%footer
  %p
    Publicerad
    %time{:pubdate => 'pubdate', :datetime => "{{ post.date | date_to_xmlschema }}"}
      {{ post.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink