%header
  %h1 {{ post.title }}
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ post.date | date: "%Y-%m-%dT%H:%M:%S" }}'}
      {{ post.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink

{% if post.slug != nil %}
%blockquote{:cite => "{{ post.url }}", :class => 'slug'}
  {{ post.slug | textilize }}

%p
  %a{:href => "{{ post.url }}"} Read more of “<cite>{{ post.title }}</cite>”…
{% else %}
{{ post.content }}
{% endif %}