%header
  %h1 {{ post.title }}
  %p
    Publicerad
    %time{:pubdate => 'pubdate', :datetime => "{{ post.date }}"}
      {{ post.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink

{% if post.slug != nil %}
%blockquote{:cite => "{{ post.url }}"}
  %p {{ post.slug }}

%p
  %a{:href => "{{ post.url }}"} Läs mer av “<cite>{{ post.title }}</cite>”…
{% else %}
{{ post.content }}
{% endif %}