%h1
  %q{:cite => "{{ post.source }}"}
    {{ post.title }}

{{ post.content }}

%footer
  %p
    Published
    %time{:pubdate => 'pubdate', :datetime => '{{ post.date | date: "%Y-%m-%dT%H:%M:%S" }}'}
      {{ post.date | date: "%d %B %Y" }}
    %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink