<article>
  <header>
    <h1>
      {% if post == nil %} Page {% else %} Post {% endif %}
    </h1>
    <p>
      Publicerad {% include post/published.html %}
      <a href="{{ post.url }}" rel="permalink">permalink</a>
    </p>
  </header>
  {% if post.slug != nil %}
  <blockquote cite="{{ post.url }}">
    <p>{{ post.slug }}</p>
  </blockquote>
  <p>
    <cite>
      <a href="{{ post.url }}">Läs mer av “{{ post.title }}”</a>
    </cite>
  </p>
  {% else %}
  {{ content + post.content }}
  {% endif %}
</article>
