article.image
{
  & > p { text-align: center; }
  img
  {
    background: white;
    border: .2em solid white;
    
    @include box-shadow(rgba(0, 0, 0, 0.6), 2px, 2px, 5px);
  }
  
  footer
  {
    h1 { color: #666; }
  }
}