article
{
  & > header, & > footer
  {
    p
    {
      background: #eee;
      font-size: .8em;
      color: #999;
      margin: 0;
      padding: .2em .4em;
    }

    a[rel="permalink"] { float: right }
  }

  & > header p
  {
    background: rgba(255, 255, 255, 0.4);
    margin: .5em 0 1em;
    @include box-shadow(#999 0 0 1px inset);
    @include box-sizing(border-box);
    @include border-radius(.2em);
  }

  & > footer p
  {
    margin: .5em 0 0;
    @include border-bottom-radius(.2em);
  }
}
