article.quote
{
  h1
  {
    font-size: 1.4em;
    margin-bottom: .5em;
    
    q:before
    {
      float: left;
      font-family: Georgia, serif;
      font-size: 4em;
      content: "“";
      margin-top: .2em;
      @include opacity(.3);
      text-indent: -.5em;
    }
    
    q { color: #333; }
    
    & + p
    {
      &:before { content: "— "; }
      color: #666;
    }
  }
}