---
import { Image } from "astro:assets";
import avatar from "@/assets/Varvet.jpg";
---

<a
  href="/"
  class="rounded-full shadow-md shadow-black border-gray-900 border-1"
>
  <Image
    src={avatar}
    alt="Photo of Kim Burgestrand"
    class="object-cover rounded-full size-60"
  />
</a>
