---
const socials = [
  { text: "Varvet", url: "https://kim.varvet.com/" },
  { text: "GitHub", url: "https://github.com/burgestrand" },
  { text: "LinkedIn", url: "https://linkedin.com/in/burgestrand" },
  { text: "Mastodon", url: "https://ruby.social/@burgestrand" },
];
---

<ul class="flex flex-row gap-4">
  {
    socials.map((social) => (
      <li key={social.text}>
        <a
          href={social.url}
          class="border-b"
          target="_blank"
          rel="noopener noreferrer"
        >
          {social.text}
        </a>
      </li>
    ))
  }
</ul>
