@import "compass/reset.scss";

ol, ul
{
  list-style-position: inside;
  margin: 0 2em 1em;
}

ol li { list-style-type: decimal; }
ul li { list-style-type: disc; }

nav
{
  ol, ul
  {
    list-style: none;
    margin: 0;
  }
}