@import "compass/reset.scss";

// CSS3
section, article, header, footer, nav
{
  @include reset-box-model;
  @include reset-font;
}

// Unreset
pre, code { font-family: monospace; }
q, blockquote { color: #666; }

p { margin: 0 0 1em; }

ul, ol
{
  list-style-position: inside;
  margin: 0 2em 1em;
}
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }

dl
{
  margin-bottom: 1em;
  
  dt
  {
    color: #666;
    font-weight: bold;
  }
  
  dd { margin: 0 1em; }
}

// Specials
nav ol, nav ul
{
  @include reset-list-style;
  @include reset-box-model;
}