---
import Avatar from "@/components/Header/Avatar.astro";
import Socials from "@/components/Header/Socials.astro";
---

<header class="flex flex-col items-center justify-center gap-4">
  <Avatar />
  <h1 class="text-4xl font-bold font-roboto-slab">Kim Burgestrand</h1>
  <Socials />
</header>
