.kicker
{
  font-weight: 100;
  line-height: 1.7em;
  margin: -.35em 0 -.35em; // useless?
}
.run-in
{
  font-style: italic;
  font-weight: bold;
}
sup, sub
{
  font-family: 'Arial', sans-serif;
  font-size: .75em;
  font-variant: small-caps;
  letter-spacing: .1em;
  line-height: 0;
  margin-right: .4em; // useless?
  text-decoration: none;
  text-transform: lowercase;
}

.pullquote
{
  display: block;
  float: left;
  font-size: 1.6em;
  font-style: italic;
  font-weight: 100;
  letter-spacing: .05em;
  line-height: 1.7em;
  margin: .5em .7em .3em 0;
  padding-top: .15em;
  width: 55%;
  
  &:before
  {
    font-family: Georgia, serif;
    content: "“";
    font-size: 2em;
    text-indent: -.8em;
    margin-top: .05em;
    float: left;
    @include opacity(.3);
  }
}

.footnote
{
  border-top: .05em solid black;
  font-size: .75em;
  line-height: 1.75em;
  
  li
  {
    margin: 1.5em 0;
    word-spacing: .1em;
  }
}

.caption
{
  font-size: .8em;
  font-style: italic;
  margin: .6em 0 -.2em;
}

.drop-cap
{
  display: block;
  font-style: normal;
  font-size: 5em;
  font-weight: 100;
  float: left;
  line-height: .67em;
  margin: .13em .1em 0 0;
}