body, h3, h4, h5, h6, dt
{ font: 100.01%/1.5 'Museo Sans', 'Helvetica', 'Arial', sans-serif; }
h1, h2
{ font-family: 'Museo Slab', 'Helvetica', 'Arial', sans-serif; }

// Sizes
h1
{ 
  font-size: 2.5em;
  line-height: 1.33em;
}

.highlight
{
  border: 2px dashed #DDD;
  margin: 0 0 1em;
  padding: .2em .5em;
  position: relative;
  overflow: hidden;
  
  &:hover
  {
    border-color: #666;
    overflow: auto;
  }
  
  &:hover:after
  {
    display: none;
  }
  
  &:after
  {
    color: rgba(0, 40, 80, 0.6);
    content: '(mouse-over to scroll)';
    font-size: .8em;
    padding: .2em .4em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

article
{
  blockquote:not(.slug), q
  {
    font-style: italic;
    line-height: 1.6em;
  }
  
  blockquote:not(.slug):before
  {
    color: #999;
    float: left;
    font-family: Georgia, serif;
    font-size: 2em;
    content: "“";
    margin-top: .1em;
    text-indent: -.6em;
  }
}