body, h3, h4, h5, h6, dt
{ font: 100.01%/1.5 'Museo Sans', 'Helvetica', 'Arial', sans-serif; }
h1, h2
{ font-family: 'Museo Slab', 'Helvetica', 'Arial', sans-serif; }

// Sizes
h1
{ 
  font-size: 2.5em;
  line-height: 1.33em;
  margin: 1em 0 0;
}