@font-face
{
  font-family: 'Museo Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/museo_sans.eot');
  src: local('☺'), url('/fonts/museo_sans.otf') format('opentype'), url('/fonts/museo_sans.svg#webfontXwHlwajF') format('svg');
}

@font-face
{
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/museo_sans-italic.eot');
  src: local('☺'), url('/fonts/museo_sans-italic.otf') format('opentype'), url('/fonts/museo_sans-italic.svg#webfontELvO5ilM') format('svg');
}

@font-face
{
  font-family: "Museo Slab";
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/museo_slab.eot');
  src: local('☺'), url('/fonts/museo_slab.otf') format('opentype'), url('/fonts/museo_slab.svg#webfontWkh0qUgB') format('svg');
}

@font-face
{
  font-family: "Museo Slab";
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/museo_slab-italic.eot');
  src: local('☺'), url('/fonts/museo_slab-italic.otf') format('opentype'), url('/fonts/museo_slab-italic.svg#webfont2lGlMvpr') format('svg');
}