{% include vars.html %}

<section class="header">
  <header class="header-home">
    {% include selfie.html %}

    <h1 class="title"><a href="{% link about-me/index.html %}">{{ site.author }}</a></h1>
    <h2 class="description">{{ site.description }}</h2>
  </header>

  {% include layout/social-links.html %}

  <nav class="main-nav">
    <ul class="list">
      <li class="item {% if page.active == "home" %}active{% endif %}">
        <a class="link" href="{% link index.html %}">Home</a>
      </li>

      <li class="item {% if page.active == "articles" %}active{% endif %}">
        <a class="link" href="{% link articles/index.html %}">Articles</a>
      </li>

      <li class="item {% if page.active == "works" %}active{% endif %}">
        <a class="link" href="{% link works/index.html %}">Works</a>
      </li>

      <li class="item {% if page.active == "about-me" %}active{% endif %}">
        <a class="link" href="{% link about-me/index.html %}">About Me</a>
      </li>
    </ul>
  </nav>
</section>