<div class="social-links">
  {% if site.social.facebook %}
  <a class="link" data-title="facebook.com/{{ site.social.facebook }}" href="https://facebook.com/{{ site.social.facebook }}" target="_blank">
    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
  </a>
  {% endif %}

  {% if site.social.twitter %}
  <a class="link" data-title="twitter.com/{{ site.social.twitter }}" href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  {% endif %}

  {% if site.social.google %}
  <a class="link" data-title="plus.google.com/{{ site.social.google }}" href="https://plus.google.com/{{ site.social.google }}" target="_blank">
    <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
  </a>
  {% endif %}

  {% if site.social.instagram %}
  <a class="link" data-title="instagram.com/{{ site.social.instagram }}" href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
    <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
  </a>
  {% endif %}

  {% if site.social.pinterest %}
  <a class="link" data-title="pinterest.com/{{ site.social.pinterest }}" href="https://pinterest.com/{{ site.social.pinterest }}" target="_blank">
    <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
  </a>
  {% endif %}

  {% if site.social.linkedin %}
  <a class="link" data-title="linkedin.com/in/{{ site.social.linkedin }}" href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank">
    <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
  </a>
  {% endif %}

  {% if site.social.youtube %}
  <a class="link" data-title="youtube.com/{{ site.social.youtube }}" href="https://youtube.com/{{ site.social.youtube }}" target="_blank">
    <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
  </a>
  {% endif %}

  {% if site.social.spotify %}
  <a class="link" data-title="play.spotify.com/user/{{ site.social.spotify }}" href="https://play.spotify.com/user/{{ site.social.spotify }}" target="_blank">
    <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
  </a>
  {% endif %}

  {% if site.social.github %}
  <a class="link" data-title="github.com/{{ site.social.github }}" href="https://github.com/{{ site.social.github }}" target="_blank">
    <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
  </a>
  {% endif %}

  {% if site.social.medium %}
  <a class="link" data-title="medium.com/@{{ site.social.medium }}" href="https://medium.com/@{{ site.social.medium }}" target="_blank">
    <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
  </a>
  {% endif %}

  {% if site.social.email %}
  <a class="link" data-title="{{ site.social.email }}" href="mailto:{{ site.social.email }}" target="_blank">
    <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
  </a>
  {% endif %}
</div>
