:plain
  ---
  layout: page
  title: About Me
  date: 2010-11-14 13:52:46 UTC
  ---

%article{:class => 'about-me'}
  %header
    %h1 Kim Burgestrand

  %img.photo{src: 'http://www.gravatar.com/avatar/b67b73b5b1fd84119ec788b1c3df02ad.png?s=234', alt: 'Me!', width: 234}

  %dl
    %dt Likes
    %dd <em>beautiful</em> code, teaching, documentation

    %dt Does
    %dd web & library development, martial arts, juggling, wake-boarding

    %dt Exists
    %dd
      <a href="http://github.com/Burgestrand">github</a>,
      <a href="http://twitter.com/Burgestrand">twitter</a>,
      %a#email email

  :javascript
    var prefix = "mailto:"
    var at = "@"
    var mail = document.getElementById("email")
    email.setAttribute("href", prefix + "kim" + at + "burgestrand.se")

  .clear
  :markdown
    I’m a Swedish developer, brought up on an island named [Resarö][] in the
    Stockholm archipelago. I currently live with my girlfriend Elin in Gothenburg,
    where I work at this awesome lil' place called [Elabs](http://elabs.se/).

    I try to avoid defining myself as a programmer. I do enjoy creating things, and
    code just happens to be one of the ways I do it with. Here’s some cody thingies
    I’ve made:

    [Spotify](https://github.com/Burgestrand/spotify)
    : Ruby bindings for the official [Spotify](http://spotify.com) C API, libspotify.

    [Ruhue](https://github.com/Burgestrand/ruhue)
    : Ruby library for interacting with the reverse-engineered [Philips Hue](http://meethue.com/) Hub HTTP API.

    [Hue API](http://burgestrand.github.com/hue-api/)
    : An effort to reverse-engineer and document the HTTP API of the [Philips Hue](http://meethue.com/) Hub.

    [radiofy.se](http://beta.radiofy.se/) <small>(co-developer for nearly two years)</small>
    : A website built around a service where we aggregate data from Swedish radio
      stations and put their music into (automatically updated) Spotify playlists
      grouped by channel. <small>(built using ruby on rails)</small>

    [Resarö]: http://bit.ly/aPtQxr
