:plain
  ---
  layout: page
  title: Senaste inläggen
  ---

%section
  {% for post in site.posts %}
  %article{:class => "{{ post.layout }}"}
    {% if post.layout == "post" %}
    {% include index/post.html %}
    {% elsif post.layout == "quote" %}
    {% include index/quote.html %}
    {% elsif post.layout == "link" %}
    {% include index/link.html %}
    {% endif %}
  {% endfor %}