:plain
  ---
  layout: default
  title: Senaste inläggen
  ---

%section
  {% for post in site.posts %}
  %article
    %header
      %h1 {{ post.title }}
      %p
        Publicerad
        %time{:pubdate => 'pubdate', :datetime => "{{ post.date | date_to_xmlschema }}"}
          {{ post.date | date: "%d %B %Y" }}
        %a{:rel => 'permalink', :href => "{{ post.url }}"} permalink

    {% if post.slug != nil %}
    %blockquote{:cite => "{{ post.url }}"}
      %p {{ post.slug }}

    %p
      %cite
        %a{:href => "{{ post.url }}"} Läs mer av “{{ post.title }}”
    {% else %}
    {{ post.content }}
    {% endif %}
  {% endfor %}