.author
{
  padding: calc(4rem * 0.625) 0 0;
  border-top: 1px solid $epsilon;
  max-width: 100%;
  margin: 0 auto;

  > .toleft
  {
    width: 10%;
    display: inline-block;

    > .link {
      width: 90%;
      display: inline-block;
    }
  }

  > .toright
  {
    width: 89%;
    display: inline-block;
    vertical-align: top;

    .link {
      > .name, > .bio {
        font-family: $fontSans;
        width: 60%;
        display: inline-block;
      }

      > .name
      {
        font-size: calc(1.5rem * 0.625);
        font-weight: 500;
        margin: 6px 0 0;
      }

      > .bio
      {
        font-weight: 300;
        color: $gama;
        font-size: calc(1.3rem * 0.625);
        text-align: justify;
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}
