.header-home
{
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;
  
  .selfie-picture {
    display: flex;
    justify-content: center;
  }

  .selfie-picture > img
  {
    height: auto;
    width: auto;
    max-height: 125px;
    max-width: 125px;
    margin-bottom: 25px;
  }

  > .title
  {
    font-size: calc(4rem * 0.625);
    margin: 0 0 13px;
    
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  > .description
  {
    font-size: calc(1.85rem * 0.625);
    font-weight: 300;
    font-style: normal;
    color: $gama;
    width: 70%;
    margin: 0 auto 1rem;

    a
    {
      font-weight: 200;
    }
  }
}
