.header-home
{
  display: block;
  margin: 0 auto;
  text-align: center;

  > .link > img
  {
    width: 125px;
    margin-bottom: 25px;
  }

  > .title
  {
    font-size: 4rem;
    margin: 0 0 13px;
  }

  > .description
  {
    font-size: 1.85rem;
    font-weight: 300;
    font-style: normal;
    color: $gama;
    width: 70%;
    margin: 0 auto 30px;

    a
    {
      font-weight: 200;
    }
  }
}
