.main-nav
{
  margin-top: 4rem;
  text-align: center;

  > .list
  {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    > .item
    {
      display: inline-block;
    }

    > .item > .link
    {
      display: inline-block;
      font-weight: 300;
      font-size: 1.4rem;
      padding: 20px 10px;
      text-decoration: none;
      font-size: 2rem;
      padding: 7px 15px;
      margin: 0;
      border-radius: 4%;
      transition: color .4s ease-in-out;

      &:hover
      {
        color: $alpha;
      }
    }
  }
}
