.evidence
{
  background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15));
  color: $beta;
}

.star
{
  > .url > .title
  {
    width: auto !important;
    display: inline;
    background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15));
  }
}

.draft .title, .title.draft{
  &:after {
    content: " (draft)";
    font-variant: small-caps;
    font-weight: bold;
    color: #C30;
  }
}

.subtitle.categories {
  font-size: .8em;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;

  li {
    display: inline-block;
    font-weight: bolder;
    color: #AAA;
  }
}

.twitter-tweet
{
  margin: 10px auto;
}

.icon
{
  display: inline-block;
  width: 17px;
  height: 17px;
  fill: #000;
  text-align: center;
  color: #000;
  margin: 7px auto;
}

.caption
{
  position: relative;
  top: calc(0rem * 0.625);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: calc(1.3rem * 0.625);
}

.bigger-image
{
  min-width: 130%;
  margin: calc(5rem * 0.625) 0 calc(5rem * 0.625) -15%;
}

.centered
{
  display: block;
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.breaker
{
  height: 1px;
  margin: calc(6rem * 0.625) auto;
  width: 100%;

  &:before
  {
    content: "• • •";
    width: 100%;
    text-align: center;
    display: block;
    color: $gama;
    letter-spacing: 4px;
    position: relative;
    top: -8px;
  }
}
