.side-by-side
{
  width: 130%;
  margin: calc(6rem * 0.625) 0 calc(6rem * 0.625) -15%;

  > .toleft, > .toright
  {
    display: inline-block;
    width: 47.5%;

    > .image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  > .toleft
  {
    margin-right: 2%;
  }

  > .toright
  {
    margin-left: 2%;
    vertical-align: top;
  }

  > .toleft > p,
  > .toright > p
  {
    margin: 0 0 calc(4rem * 0.625) 0;
  }
}
