{% include vars.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.description }}">
    <meta name=author content="{{ site.author }}">

    <title>{{ page.title }} &middot; {{ site.author }} </title>

    {% seo %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
      {% if page.tag %}
      <div class="post">
      {% elsif root_page %}
      <div class="page index">
      {% else %}
      <div class="page {{ page.title | downcase }}">
      {% endif %}

        {{ content }}
      </div>
    </div>

    {% include icons.svg %}

    <script src="/assets/javascripts/jquery.min.js"></script>
    <script src="/assets/javascripts/timeago.js"></script>
  </body>
</html>
