{% include vars.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png">
    <link rel="me" href="https://ruby.social/@burgestrand">

    <meta name=description content="{{ site.description }}">
    <meta name=author content="{{ site.author }}">

    <title>{{ page.title }} &middot; {{ site.author }} </title>

    {% seo %}

    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{% link feed.xml %}" />

    <link rel="stylesheet" href="{% link assets/stylesheets/tailwind.css %}">
    <link rel="stylesheet" href="{% link assets/stylesheets/main.scss %}">
  </head>
  <body>
    <div class="wrapper-normal">
      <div class="page {{ page.class }} {% if page.collection %}{{ page.collection }}-collection{% endif %}">
        {{ content }}
      </div>
    </div>

    {% include icons.svg %}

    <script src="{% link assets/javascripts/jquery.min.js %}"></script>
    <script src="{% link assets/javascripts/timeago.js %}"></script>
  </body>
</html>
