---
layout: default
---
{% include layout/header.html %}

<h1 class="title {% if page.draft %}draft{% endif %}">{{ page.title }}</h1>

<span class="date">
  <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %b %d, %Y" }}</time>

  <span class="reading-time" title="Estimated read time">
    {% assign words = content | number_of_words %}

    ~

    {% if words < 360 %}
      1 min
    {% else %}
      {{ words | divided_by:180 }} mins
    {% endif %}
  </span>
</span>

<div class="post-tags">
  {% for tag in page.tags %}
    <a class="item">{{ tag }}</a>
  {% endfor %}
</div>

{{content}}

<section class="border-t pt-10 flex flex-row gap-4">
  <div class="basis-1/3">
    {% include selfie.html %}
  </div>

  <div class="basis-2/3 flex flex-col justify-center">
    <h4 class="name">{{ site.author }}</h4>
    <p class="bio m-0">{{ site.description }}</p>
  </div>
</section>

{% include layout/footer.html %}
