<!DOCTYPE html>
<html>
  <head>
    {% include common/head.html %}
  </head>
  <body>
    <div class="main">
      {% include common/header.html %}
      <section>
        <article class="{{ page.layout }}">
          {% if page.layout == "post" %}
          {% include post/post.html %}
          {% elsif page.layout == "quote" %}
          {% include post/quote.html %}
          {% elsif page.layout == "link" %}
          {% include post/link.html %}
          {% endif %}
        </article>
      </section>
    </div>
  </body>
</html>
