---
layout: default
---
{% include layout/header.html %}

<h1 class="title {% if page.draft %}draft{% endif %}">{{ page.title }}</h1>

<span class="date">
  <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %b %d, %Y" }}</time>

  <span class="reading-time" title="Estimated read time">
    {% assign words = content | number_of_words %}

    ~

    {% if words < 360 %}
      1 min
    {% else %}
      {{ words | divided_by:180 }} mins
    {% endif %}
  </span>
</span>

<div class="post-tags">
  {% for tag in page.tags %}
    <a class="item"> <!-- href="{{ site.url }}/tags/#{{ tag | slugify }}"-->{{ tag }}</a>
  {% endfor %}
</div>

{{content}}

{% if site.related %}
  {% include related.html %}
{% endif %}

<section class="author">
  <div class="toleft">
    {% include selfie.html %}
  </div>

  <div class="toright">
    <a class="link" href="{{ site.url }}/about-me/">
      <h4 class="name">{{ site.author }}</h4>
      <p class="bio">{{ site.description }}</p>
    </a>

    <div class="share">
      <a class="twitter popup" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.social.twitter }}">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span class="icon-twitter">Tweet</span>
      </a>
    </div>
  </div>
</section>

{% include layout/footer.html %}
