---
layout: default
title: Articles
---
{% include layout/header.html %}

<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
      <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{{ site.url }}{{ post.url }}">
          <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
          <h3 class="title">{{ post.title }}</h3>
        </a>
      </div>
    {% endfor %}
	{% endif %}
</section>

{% include layout/footer.html %}
