body, html
{
  font-size: 100%;
}

body
{
  line-height: 1;
  font: 16px $fontSans;
  color: $alpha;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4
{
  font-family: $fontSans;
  color: $beta;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1
{
  font-size: calc(3rem * 0.625);
  letter-spacing: -1px;
  color: $beta;
  font-weight: 700;
}

h2
{
  font-size: calc(2.2rem * 0.625);
}

h3
{
  font-size: calc(2rem * 0.625);
}

h4
{
  font-size: calc(1.6rem * 0.625);
}

a
{
  color: $delta;
  text-decoration: underline;
}

p
{
  line-height: 1.7;
  color: $alpha;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}

strong
{
  font-weight: 400;
  color: #000;
}

ul, ol
{
  li
  {
    line-height: calc(2.4rem * 0.625);
    font-weight: 300;
    color: $alpha;
  }
}

img, pre, iframe
{
  max-width: 100%;
}

img, pre
{
  border-radius: 4px;
}

figcaption
{
  position: relative;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: calc(1.3rem * 0.625);
  color: $gama;
  font-weight: 300;
}

blockquote
{
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr
{
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
  width: 100%;
}

figure.highlight
{
  width: 100%;
  margin: 0;

  > pre {
    white-space: pre;
  }
}

code, tt
{
  padding: 1px 0;
  font-family: $fontMonospace;
  font-size: 80%;
  line-height: 20px;
  background: #fff;
  border-radius: 2px;
  border-radius: 2px;
}

pre
{
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 5px 10px;
  font-family: $fontMonospace;
  font-size: calc(1.2rem * 0.625);
  line-height: calc(2rem * 0.625);
  overflow: auto;
  background: #fff;
  border: 1px solid $epsilon;
  border-radius: 2px;
  white-space: pre;
  tab-size: 4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-normal
{
  display: flex;
  height: 100vh;
  width: 96%;
  margin: 0 auto;
  max-width: 560px;
}

/* inline code tags */
code.highlighter-rouge {
  color: #b1049a;
}
