/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" ""; }
  /* line 96, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 5, ../../_src/stylesheets/_reset.scss */
section, article, header, footer, nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 11, ../../_src/stylesheets/_reset.scss */
pre, code {
  font-family: monospace; }

/* line 12, ../../_src/stylesheets/_reset.scss */
q, blockquote {
  color: #666; }

/* line 13, ../../_src/stylesheets/_reset.scss */
em {
  font-style: italic; }

/* line 15, ../../_src/stylesheets/_reset.scss */
strong {
  color: #444;
  font-weight: bold; }

/* line 20, ../../_src/stylesheets/_reset.scss */
small {
  font-size: .8em;
  font-weight: normal; }

/* line 25, ../../_src/stylesheets/_reset.scss */
p {
  margin: 0 0 1em; }

/* line 28, ../../_src/stylesheets/_reset.scss */
ul, ol {
  list-style-position: inside;
  margin: 0 2em 1em; }

/* line 32, ../../_src/stylesheets/_reset.scss */
ul li {
  list-style-type: disc; }

/* line 33, ../../_src/stylesheets/_reset.scss */
ol li {
  list-style-type: decimal; }

/* line 36, ../../_src/stylesheets/_reset.scss */
dl {
  margin-bottom: 1em; }
  /* line 40, ../../_src/stylesheets/_reset.scss */
  dl dt {
    color: #666;
    font-weight: bold; }
  /* line 45, ../../_src/stylesheets/_reset.scss */
  dl dd {
    margin: 0 1em; }
  /* line 46, ../../_src/stylesheets/_reset.scss */
  dl dd + dt {
    margin-top: .5em; }

/* line 51, ../../_src/stylesheets/_reset.scss */
nav ol, nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/*
@import "typography/elements.scss";
*/
@font-face {
  font-family: 'Museo Sans';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/museo_sans.eot");
  src: local("☺"), url("/fonts/museo_sans.otf") format("opentype"), url("/fonts/museo_sans.svg#webfontXwHlwajF") format("svg"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/museo_sans-italic.eot");
  src: local("☺"), url("/fonts/museo_sans-italic.otf") format("opentype"), url("/fonts/museo_sans-italic.svg#webfontELvO5ilM") format("svg"); }

@font-face {
  font-family: "Museo Slab";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/museo_slab.eot");
  src: local("☺"), url("/fonts/museo_slab.otf") format("opentype"), url("/fonts/museo_slab.svg#webfontWkh0qUgB") format("svg"); }

@font-face {
  font-family: "Museo Slab";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/museo_slab-italic.eot");
  src: local("☺"), url("/fonts/museo_slab-italic.otf") format("opentype"), url("/fonts/museo_slab-italic.svg#webfont2lGlMvpr") format("svg"); }

/* line 2, ../../_src/stylesheets/typography/_flow.scss */
body, h3, h4, h5, h6, dt {
  font: 100.01%/1.5 "Museo Sans", "Helvetica", "Arial", sans-serif; }

/* line 4, ../../_src/stylesheets/typography/_flow.scss */
h1, h2 {
  font-family: 'Museo Slab', 'Helvetica', 'Arial', sans-serif; }

/* line 8, ../../_src/stylesheets/typography/_flow.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.33em; }

/* line 8, ../../_src/stylesheets/_typography.scss */
hgroup {
  float: right;
  text-align: right; }
  /* line 13, ../../_src/stylesheets/_typography.scss */
  hgroup h1 + h2 {
    color: #999;
    font-size: .8em;
    margin-top: 0;
    font-weight: 100; }

/* line 22, ../../_src/stylesheets/_typography.scss */
a {
  color: #369; }

/* line 23, ../../_src/stylesheets/_typography.scss */
a:hover {
  text-decoration: none; }

/* line 24, ../../_src/stylesheets/_typography.scss */
a:active {
  color: #999; }

/* line 7, ../../_src/stylesheets/main.scss */
body {
  border-top: .3em solid #666;
  color: #333; }

/* line 11, ../../_src/stylesheets/main.scss */
body > .main {
  font-size: 1.2em; }

/* line 13, ../../_src/stylesheets/main.scss */
.clear {
  clear: both; }

/* line 14, ../../_src/stylesheets/main.scss */
.hide {
  display: none; }

/* line 3, ../../_src/stylesheets/_layout.scss */
body > .main {
  margin: 0 auto;
  position: relative;
  width: 35em; }

/* line 10, ../../_src/stylesheets/_layout.scss */
article + article {
  margin-top: 2em;
  padding-top: 2em;
  border-top: .1em dashed #DDD; }

/* line 2, ../../_src/stylesheets/layout/_header.scss */
.main > header {
  font-size: .8em;
  margin-bottom: 2em;
  position: relative; }
  /* line 7, ../../_src/stylesheets/layout/_header.scss */
  .main > header h1 {
    margin-top: 1em; }
  /* line 10, ../../_src/stylesheets/layout/_header.scss */
  .main > header nav {
    bottom: 0;
    font-size: 1.2em;
    left: 0;
    position: absolute; }
    /* line 17, ../../_src/stylesheets/layout/_header.scss */
    .main > header nav li {
      display: inline-block;
      margin-left: 1.2em; }
      /* line 21, ../../_src/stylesheets/layout/_header.scss */
      .main > header nav li:first-child {
        margin-left: 0; }

/* line 4, ../../_src/stylesheets/post/_meta.scss */
article > header, article > footer {
  overflow: hidden;
  *zoom: 1; }
  /* line 8, ../../_src/stylesheets/post/_meta.scss */
  article > header p, article > footer p {
    background: #eee;
    font-size: .8em;
    color: #999;
    margin: 0;
    padding: .2em .4em; }
  /* line 16, ../../_src/stylesheets/post/_meta.scss */
  article > header a[rel="permalink"], article > footer a[rel="permalink"] {
    float: right; }
/* line 20, ../../_src/stylesheets/post/_meta.scss */
article > header p {
  margin: .5em 0 1em;
  -moz-border-radius-topleft: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  -o-border-top-left-radius: 0.2em;
  -ms-border-top-left-radius: 0.2em;
  -khtml-border-top-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  -moz-border-radius-topright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  -o-border-top-right-radius: 0.2em;
  -ms-border-top-right-radius: 0.2em;
  -khtml-border-top-right-radius: 0.2em;
  border-top-right-radius: 0.2em; }
/* line 26, ../../_src/stylesheets/post/_meta.scss */
article > footer p {
  margin: .5em 0 0;
  -moz-border-radius-bottomleft: 0.2em;
  -webkit-border-bottom-left-radius: 0.2em;
  -o-border-bottom-left-radius: 0.2em;
  -ms-border-bottom-left-radius: 0.2em;
  -khtml-border-bottom-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
  -o-border-bottom-right-radius: 0.2em;
  -ms-border-bottom-right-radius: 0.2em;
  -khtml-border-bottom-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em; }

/* line 4, ../../_src/stylesheets/post/_post.scss */
article.post h2 {
  font-size: 1.8em;
  margin: 1em 0 .2em; }

/* line 3, ../../_src/stylesheets/post/_image.scss */
article.image > p {
  text-align: center; }
/* line 5, ../../_src/stylesheets/post/_image.scss */
article.image img {
  background: white;
  border: .2em solid white;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0; }
/* line 14, ../../_src/stylesheets/post/_image.scss */
article.image footer h1 {
  color: #666; }

/* line 3, ../../_src/stylesheets/page/_about-me.scss */
article.about-me h1 {
  margin-bottom: .25em; }
/* line 6, ../../_src/stylesheets/page/_about-me.scss */
article.about-me img {
  border: .15em solid black;
  float: right;
  margin: 0 0 1em 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0; }
/* line 14, ../../_src/stylesheets/page/_about-me.scss */
article.about-me header dd {
  margin: 0; }
/* line 15, ../../_src/stylesheets/page/_about-me.scss */
article.about-me dl dd {
  margin: 0 0 0 1em; }

/* line 4, ../../_src/stylesheets/page/_404.scss */
html.not-found body {
  top: 10em;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  width: 36em; }
/* line 13, ../../_src/stylesheets/page/_404.scss */
html.not-found h1 {
  margin-bottom: .25em;
  text-align: center; }
/* line 18, ../../_src/stylesheets/page/_404.scss */
html.not-found h2 {
  font-size: 1.6em; }
